<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="libraries/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/opmaak.css">

        <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="libraries/bootstrap/js/bootstrap.min.js"></script>

        <title>Bakkerij</title>
    </head>
    <body>
        <div id="navbar" class="navbar-collapse collapse">
            <nav class="menu">
                <ul class='nav nav-pills'>
                    <li><a href="hoofdpagina.php">Home</a></li> <!-- soort sitemap, wat is er te vinden op de site, wat staat waar--> 
                    <li><a href="nieuwebestelling.php">Plaats bestelling</a></li> 

                    <li><a href="overons.php">Over ons</a></li> 
                        {% if klant is not defined %}
                        <li class="navbar-right" ><a href="aanmelden.php">Aanmelden</a></li> 
                        <li class="navbar-right" ><a href="registreren.php">Registreren</a></li> 
                        {% endif %}
                        {% if klant is defined %}
                        <li class='dropdown navbar-right'>
                            <a class='dropdown-toggle navbar-right' data-toggle='dropdown' href="pasgegevensaan.php">{{klant.voornaam}} {{klant.naam}} 
                                <span class='caret'></span></a> 
                            <ul class='dropdown-menu navbar-right'>
                                <li><a href="pasgegevensaan.php">Persoonlijke gegevens bijwerken</a></li> 
                                <li class='active'><a href="bestellingnakijken.php">Bestellingen nakijken of annuleren</a></li>
                            </ul></li>    
                        {%endif%}

                </ul>
            </nav>
        </div> 
        <div class='container'> 


            <table style="width:100%">
                <tr>
                    <th>Afhaaldag</th>
                    <th>TotaalPrijs</th> 
                    <th>Bestelling</th>
                    <th>Annuleren</th>
                </tr>


                {% for bestelling in bestellingen %}
                    <tr>
                    <td>{{ bestelling.afhaalDag}}</td>
                    <td>{{ bestelling.totaalPrijs}}</td>  
                    <td>
                        <table style="width:100%">
                            <tr>
                                <th>Product</th>
                                <th>Aantal</th> 
                            </tr>

                            {% for bestellijn in bestelling.bestellijnen %}
                                <tr>



                                <td>{{bestellijn.product.naam}}</td>
                                <td>{{bestellijn.aantal}}</td>






                                <br>
                                </tr>
                            {%endfor%}
                        </table>

                    </td>
                    <td>
                        {% if bestelling.afhaaldag|date("m/d/Y") > "now"|date("m/d/Y") %}  <a href="annuleerbestelling.php?bestelid={{bestelling.bestelId}}">Annuleer bestelling</a> {% endif%}
                    </td>
                    </tr>
                {% endfor %} 

            </table>

        </div>
    </body>
</html>
